<hr />
<form class="form-inline">
  <div class="form-group.mb-2">
    <input type="text" class="form-control mr-2" placeholder="Buscar">
    <button class="btn btn-outline-success">Buscar</button>
  </div>
</form>
<br />
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Total Pessoas</th>
      <th>Lote</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody *ngIf="events && events.length">
    <tr *ngFor="let event of events">
      <td>{{event.id}}</td>
      <td>{{event.theme}}</td>
      <td>{{event.local}}</td>
      <td>{{event.dateEvent}}</td>
      <td>{{event.totalPeople}}</td>
      <td>{{event.lot}}</td>
      <td>
        <button class="btn btn-success">Editar</button> |
        <button class="btn btn-primary">Detalhes</button> |
        <button class="btn btn-danger">Deletar</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!events.length">
    <tr>
      <td colspan="7" class="text-center">
        <h3>Nenhum evento encontrado!</h3>
      </td>
    </tr>
  </tfoot>
</table>